<!DOCTYPE html >
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en" />
		<title>Vue JS Sandbox</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<meta name="description" content="Web and Android Developer at Portugal" />
		<meta name="keywords" lang="en" content="" />
		<meta name="author" content="André Barata">
		
		<!-- Personal CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	</head>
	<body>
		<div id="sandbox">
			<p class="title" v-bind:class="{ green: TitColorGreen, blue: !TitColorGreen}" v-text="title"></p>
			<!--<button v-on:click="showAlert('teste')">Click here</button>-->
			<button v-on:mouseover="changeTitColor()" v-on:mouseleave="changeTitColor()">Title color change</button>

			<div class="content">
				<div class="link-menu-wrapper">
					<button v-on:click="movieListToggle()">Movies List</button>
					<button v-on:click="findNumberToggle()">Shopping Cart</button>
					<button v-on:click="arraySortingToggle()">Sort As</button>
				</div>
				<div class="movies-list-wrapper" v-if="moviesEnable">
					<h2>Best movies list</h2>
					<div class="movie-search-wrapper">
						<input type="text" v-model="movieKeyword" placeholder="Search title">
						<label>Search title:</label>
					</div>
					<div class="movie-card-wrapper">
						<div class="card" v-for="movie in filteredMovieList">
							<img v-bind:src="movie.poster">
							<h4>{{ movie.title }} ({{ movie.year}})</h4>
							<p>Director: {{ movie.director }}</p>
							<a v-bind:href="movie.imdb" target="_blank">IMDB</a>
						</div>
					</div>
				</div>
				<div class="find-number-wrapper" v-if="shoppingCartEnable">
					<div class="product-card-wrapper">
						<div class="card" v-for="product in products">
							<img v-bind:src="product.image">
							<h5>{{ product.name }}</h5>
							<a v-on:click="addToShoppingCart(product)">
								<img src="https://sweetheartshair.com/wp-content/themes/fm-ecommerce/img/cart-icon.png" width="25px">
							</a>
						</div>
					</div>
					<div class="shopping-table-wrapper">
						<table>
							<tr>
								<th>Name</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
							<tr v-for="item in shoppingList">
								<td>{{ item.name }}</td>
								<td>{{ item.amount }}</td>
								<td>{{ item.price * item.amount}}€</td>
							</tr>
						</table>
						<div class="shopping-total">
							<h4>Total</h4>
							<p>Nº of items: {{ shoppingCartItems }}</p>
							<p>Final price: {{ shoppingCartPrice }}€</p>
						</div>
					</div>
				</div>
				<div class="array-sorting-wrapper" v-if="arraySortingEnable">
					<div class="array-sorting-btn">
						<ul>
							<li>
								<button v-bind:class="{ activeBtn: arraySortingDescActive}" v-on:click="arraySortingDesc()">Order Descending</button>
							</li>
							<li>
								<button v-bind:class="{ activeBtn: arraySortingInvertedActive}" v-on:click="arraySortingInverted()">Invert Order</button>
							</li>
						</ul>
					</div>
					<div class="array-sorting-input">
						<input type="number" v-model="numberSortingInput" v-on:keyup.13="addToSortingArray()" placeholder="Insert a number">
						<label>Insert a number and press ENTER:</label>
						<div class="array-sorting-feedback">
							Array = <br>[
							<ul>
								<li v-for="number in arraySorting">
									{{ number }},
								</li>
							</ul>
							]
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Frameworks JS -->
		<script src="assets/js/vue.js"></script>

		<!-- Personal JS -->
		<script src="assets/js/main.js"></script>
	</body>	
</html>