html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 16px;
	margin-bottom: 16px;
}

#sandbox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-size: 30px;
	transition: .15s all ease-in-out;
}

.green {
	color: lightgreen;
}

.blue {
	color: darkblue;
}

.link-menu-wrapper {
	margin: 1em 0;
	text-align: center;
}

.movies-list-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.movies-list-wrapper h2 {
	text-transform: uppercase;
	margin: 1em 0;
}

.movie-search-wrapper {
	margin-bottom: 2em;
	position: relative;
	text-align: center;
}

.movie-search-wrapper input{
	padding: 4px 12px;
	color: rgba(0,0,0,.70);
	border: 1px solid rgba(0,0,0,0.3);
	transition: .15s all ease-in-out;
	background: white;
}

.movie-search-wrapper input::-webkit-input-placeholder {
	font-size: 12px;
	color: rgba(0,0,0,.50);
	font-weight: 100;
}

.movie-search-wrapper input:focus{
	outline: none;
	transform: scale(1.05);
}

.movie-search-wrapper input:focus + label{
	font-size: 10px;
	transform: translateY(-24px) translateX(-12px);
}

.movie-search-wrapper label{
	position: absolute;
	font-size: 12px;
	color: rgba(0,0,0,.50);
	top: 8px;
	left: 12px;
	z-index: -1;
	transition: .15s all ease-in-out;
}

.movie-card-wrapper, .product-card-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}

.card {
	padding: 10px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.card img {
	transition: .15s all ease-in-out;
}

.card img:hover {
	transform: scale(1.03);
}

.card a {
	text-decoration: none;
	cursor: pointer;
	transition: .15s all ease-in-out;
}

.card a:hover {
	color: lightgreen;
}

.shopping-table-wrapper {
	margin-top: 2em;
}

.shopping-table-wrapper table {
	width: 100%;
}

.shopping-table-wrapper table, th, td {
	border: 1px solid rgba(0,0,0,0.3);
	border-collapse: collapse;
}

.shopping-table-wrapper td {
	padding: 5px;
}

.shopping-total {
	margin-top: 2em;
	float: right;
	border: 1px solid rgba(0,0,0,0.3);
	padding:10px 20px;
}

.array-sorting-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	padding-top: 30px;
}

.array-sorting-btn ul{
	list-style-type:none;
	padding-left: 0px;
	margin:0px;
}

.array-sorting-btn li{
	margin-bottom:10px;
}

.activeBtn {
	background-color: aqua;
}

.array-sorting-input {
	margin-bottom: 2em;
	position: relative;
	text-align: center;
}

.array-sorting-input input{
	padding: 4px 12px;
	color: rgba(0,0,0,.70);
	border: 1px solid rgba(0,0,0,0.3);
	transition: .15s all ease-in-out;
	background: white;
}

.array-sorting-input input::-webkit-input-placeholder {
	font-size: 12px;
	color: rgba(0,0,0,.50);
	font-weight: 100;
}

.array-sorting-input input:focus{
	outline: none;
	transform: scale(1.05);
}

.array-sorting-input input:focus + label{
	font-size: 10px;
	transform: translateY(-24px) translateX(-12px);
}

.array-sorting-input label{
	position: absolute;
	font-size: 12px;
	color: rgba(0,0,0,.50);
	top: 8px;
	left: 12px;
	z-index: -1;
	transition: .15s all ease-in-out;
}

.array-sorting-feedback {
	margin-top: 15px;
}

.array-sorting-feedback ul{
	list-style-type:none;
	padding-left: 30px;
	margin:0px;
}